{% for vlan in vlans %}
vlan {{ vlan.vid }}
 name {{ vlan.name -}}
 {% if vlan.l2mtu %}
 mtu {{ vlan.l2mtu -}}
 {% endif %}
{% endfor %}


interface vlan {{ vlan.vid }}
 no shutdown
 desc {{ vlan.name }}
 load-interval 30

 no ip proxy-arp
 ip flow ingress
 ip pim sparse-mode
 ip verify unicast source reachable-via rx
 ip address {{ vlan.addr4 }} {{ vlan.mask4 }}

 ipv6 address {{ vlan.addr6 }}/{{ vlan.prefixlen6 }}
 ipv6 nd other-config-flag

 standby version 2

 standby 1 ip {{ vlan.gw4 }}
 standby 1 priority {{ vlan.hsrp_prio4 }}
 standby 1 preempt

 standby 2 ipv6 {{ vlan.gw6 }}
 standby 2 priority {{ vlan.hsrp_prio6 }}
 standby 2 preempt

